* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 14px;
  text-decoration: none;
  padding-right: 20px;
}

#head {
  width: 100%;
  height: 80px;
  background-color: white;
  position: fixed;
  z-index: 1;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 70px;
  animation: movedown 2s linear 0.5;
  visibility: hidden;
  animation-fill-mode: forwards;
}

@keyframes movedown {
  0% {
    transform: translateY(-100px);
    visibility: visible;
  }
  100% {
    transform: translateY(70px);
    visibility: visible;
  }
}

.logo {
  cursor: pointer;
  margin-right: auto;
}

#signup {
  background: #0c48bd;
  align-items: center;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 20px;
  margin-left: 30px;
  width: 90px;
  height: 30px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

#signup:hover {
  background: #09348a;
  font-size: 17px;
}

.navi {
  display: inline-flex;
  position: relative;
}

.navi-item {
  color: #000000;
  padding: 20px;
  text-decoration: none;
  transition: 0.3s;
  margin: 0 6px;
  z-index: 1;
  position: relative;
}
.navi-item:before {
  content: "";
  position: absolute;
  bottom: 8px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #dfe2ea;
  border-radius: 8px;
  opacity: 0;
  transition: 0.3s;
}
.navi-item:not(.is-active):hover:before {
  opacity: 1;
  bottom: 10px;
}
.navi-item:not(.is-active):hover {
  color: #333;
}
.navi-indicator {
  position: absolute;
  left: 0;
  bottom: 10px;
  height: 3px;
  transition: 0.4s;
  height: 3px;
  z-index: 1;
  border-radius: 8px;
}

.dot {
  height: 5px;
  width: 5px;
  background-color: #ff0000;
  border-radius: 50%;
  display: inline-block;
  margin-left: 4px;
  position: absolute;
  top: 20px;
}

#covidnews {
  color: #0075ff;
}

#square-btn {
  background-color: #0075ff;
  justify-content: center;
  align-items: center;
  padding: 15px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #dfe2ea;
  border: none;
  display: flex;
  flex-direction: row;
  position: absolute;
  width: 153px;
  height: 37px;
  left: 73px;
  top: 488px;

  transition: 1s;
  transform: translateY(10px);
  opacity: 0;
}

#square-btn:hover {
  cursor: pointer;
}

#square-btn[data-scroll="in"] {
    transform: translate(0);
    transition-delay: 0.2s;
    opacity: 1;
  }

#cursolepara {
  position: absolute;
  width: 482px;
  height: 69px;
  left: 70px;
  top: 381px;

  font-family: "poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: rgba(85, 85, 85, 0.5);

  transition: 1s;
  opacity: 0;
}

#cursolepara[data-scroll="in"] {
    transform: translate(0);
    transition-delay: 0.4s;
    opacity: 1;
  }

#mask {
  position: absolute;
  width: 599px;
  height: 89px;
  left: 70px;
  top: 235px;

  font-family: "Verdana";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 123.5%;

  color: #000000;

  transition: 1s;
  transform: translateY(10px);
  opacity: 0;
}

#mask[data-scroll="in"] {
    transform: translate(0);
    transition-delay: 0.2s;
    opacity: 1;
  }

#sliderImg1 {
  position: absolute;
  width: 695.95px;
  height: 644.69px;
  left: 601px;
  top: 88px;
}

#facebooktop {
  position: absolute;
  right: 70px;
  top: 501px;
  transition: 1s;
  transform: translateY(10px);
  opacity: 0;
}

#facebooktop[data-scroll="in"] {
    transform: translate(0);
    transition-delay: 0.2s;
    opacity: 1;
  }


#twittertop {
  position: absolute;
  right: 70px;
  top: 565px;
  transition: 1s;
  transform: translateY(10px);
  opacity: 0;
}

#twittertop[data-scroll="in"] {
    transform: translate(0);
    transition-delay: 0.2s;
    opacity: 1;
  }

#instatop {
  position: absolute;
  right: 70px;
  top: 629px;
  transition: 1s;
  transform: translateY(10px);
  opacity: 0;
}

#instatop[data-scroll="in"] {
    transform: translate(0);
    transition-delay: 0.2s;
    opacity: 1;
  }



#Service {
  position: absolute;
  left: 70px;
  top: 1077px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;

  color: #000000;
}

/* Service card section */

.main {
  position: absolute;
  left: 70px;
  top: 1159px;
}

.r1c1 {
  display: inline-block;
  width: 289px;
  height: 252px;
  background: #f1f6ff;
  border-radius: 10px;
  margin-right: 60px;
  margin-bottom: 40px;

  transition: 1s;
  transform: translatex(-20px);
  opacity: 0;
}

.r1c1[data-scroll="in"] {
    transform: translate(0);
    transition-delay: 0.2s;
    opacity: 1;
  }

.r1c1:hover{
    transform: scale(1.05);
    background-color: #d7e6ff;
}

.font1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
}

.r1c1 h1 {
  width: 250px;
  height: 27px;

  font-weight: 700;
  font-size: 18px;
  /* line-height: 27px; */

  color: #5170a4;
  position: absolute;
  margin-top: 126px;
  margin-left: 27px;
}

.r1c1 p {
  width: 236px;
  height: 42px;

  font-weight: 400;
  font-size: 14px;
  line-height: 21px;

  color: #5170a4;

  margin-top: 162px;
  margin-left: 27px;
}

.r1c1 .mainimg {
  position: relative;
}

.elipse {
  position: absolute;
  top: 27px;
  left: 27px;
}

.icon {
  position: absolute;
  top: 46px;
  left: 44px;
}

#more {
  position: absolute;
  width: 66px;
  height: 33px;
  left: 1235px;
  top: 1550px;
  z-index: 1;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 36px;

  color: #717070;
}

#more span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
#more span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
#more:hover span {
    padding-right: 25px;
  }
  
#more:hover span:after {
    opacity: 1;
    right: 0;
  }

#moreicon {
  position: absolute;
  left: 751px;
  top: 1746px;
}

#bluesection {
  position: absolute;
  width: 100%;
  height: 509px;
  left: 0px;
  top: 1892px;

  background: #5991ff;
}

#virusimage {
  position: absolute;
  width: 926px;
  height: 867.2px;
  left: 594px;
  top: 1658px;
  transition: 1s;
}

#virusimage[data-scroll="in"] {
    transform: scale(1.2);
    transition-delay: 0.5s;
  }

#bluesection h1 {
  position: relative;
  width: 506px;
  height: 89px;
  left: 70px;
  top: 127px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;

  color: #ffffff;
  transition: 1s;
  transform: translateY(10px);
  opacity: 0;
}

#bluesection h1[data-scroll="in"] {
    transform: translate(0);
    transition-delay: 0.2s;
    opacity: 1;
  }


#bluesection p {
  position: relative;
  width: 506px;
  height: 89px;
  left: 73px;
  top: 100px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;

  letter-spacing: 0.1em;

  color: #ffffff;

  transition: 1s;
  opacity: 0;
}

#bluesection p[data-scroll="in"] {
    transform: translate(0);
    transition-delay: 0.2s;
    opacity: 1;
  }

#square-btn3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px;
  border: none;
  border-radius: 4px;
  transition: all 0.5s;

  position: relative;
  width: 153px;
  height: 37px;
  left: 73px;
  top: 150px;

  background: #ffffff;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #0075ff;

  transition: 1s;
  transform: translateY(10px);
  opacity: 0;
}





#square-btn3 span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  #square-btn3 span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  #square-btn3:hover span {
    padding-right: 25px;
  }
  
  #square-btn3:hover span:after {
    opacity: 1;
    right: 0;
  }












#square-btn3[data-scroll="in"] {
    transform: translate(0);
    transition-delay: 0.2s;
    opacity: 1;
  }

#popular {
  position: absolute;
  left: 70px;
  top: 2582px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;

  color: #000000;
}

/* <!----------------------------------            popular specialities            ---------------------------- --> */

.main2 {
  position: absolute;
  left: 70px;
  top: 2695px;
}

.r1c2 {
  display: inline-block;
  margin-right: 50px;
  margin-bottom: 50px;
  background: #ffffff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  width: 300px;
  height: 330px;
  transition: transform 0.1s;
}

.r1c2[data-scroll="in"]:hover{
    transform: scale(1.05);
}


.r1c2{
    transition: 1s;
  transform: translatex(-10px);
  opacity: 0;
}

.r1c2[data-scroll="in"] {
    transform: translate(0);
    transition-delay:0.3s;
    
    opacity: 1;
  }


/* #r1c2a[data-scroll="in"]{
    transition-delay: 0.3s;
}

#r1c2b[data-scroll="in"]{
    transition-delay: 0.4s;
}


#r1c2c[data-scroll="in"]{
    transition-delay: 0.5s;
}

#r1c2d[data-scroll="in"]{
    transition-delay: 0.6s;
} */



.font2 {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
}

.r1c2 h1 {
  margin-top: 10px;
  margin-left: 16px;
  font-size: 20px;
  color: #000000;
}

.r1c2 p {
  margin: 10px 16px 10px 16px;
  font-size: 12px;
  line-height: 18px;
  color: #929292;
}

.r1c2 a {
  position: relative;
  top: 18px;
  left: 140px;
  text-decoration: none;
  font-size: 15px;
  line-height: 19px;
  color: #000000;
}

.r1c2 .mainimg {
  position: relative;
}

.fvr2 {
  position: absolute;
  top: 30px;
  right: 30px;
}

#more2 {
  position: absolute;
  width: 66px;
  height: 33px;
  left: 730px;
  top: 3084px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 36px;
  transition: all 0.5s;

  color: #717070;
}

#more2 span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
#more2 span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
#more2:hover span {
    padding-right: 25px;
  }
  
#more2:hover span:after {
    opacity: 1;
    right: 0;
  }


/*  chat  */

#chat {
  position: absolute;
  left: 70px;
  top: 3250px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;

  color: #000000;
}

#chat1 {
  position: absolute;
  top: 3400px;
  left: 214px;

  color: #000000;
  transition: 1s;
  transform: translate(10px);
  opacity: 0;
}

#chat1[data-scroll="in"] {
  transform: translate(0);
  opacity: 1;
}

#docpic {
  position: absolute;
  width: 83px;
  height: 83px;
  left: 123px;
  top: 3480px;
  transition: 1s;
  transform: translate(10px);
  opacity: 0;
}

#docpic[data-scroll="in"] {
  transform: translate(0);
  transition-delay: 0.1s;
  opacity: 1;
}

#mychat {
  position: absolute;
  width: 325px;
  height: 106px;
  left: 440px;
  top: 3600px;
  transition: 1s;
  transform: translate(10px);
  opacity: 0;
}

#mychat[data-scroll="in"] {
  transform: translate(0);
  transition-delay: 0.3s;
  opacity: 1;
}

#chat2 {
  position: absolute;
  width: 424px;
  height: 106px;
  left: 214px;
  top: 3800px;
  transition: 1s;
  transform: translate(10px);
  opacity: 0;
}

#chat2[data-scroll="in"] {
  transform: translate(0);
  transition-delay: 0.5s;
  opacity: 1;
}

#docpic2 {
  position: absolute;
  width: 83px;
  height: 83px;
  left: 123px;
  top: 3880px;
  transition: 1s;
  transform: translate(10px);
  opacity: 0;
}

#docpic2[data-scroll="in"] {
  transform: translate(0);
  transition-delay: 0.6s;
  opacity: 1;
}

#chat3 {
  position: absolute;
  width: 455px;
  height: 89px;
  left: 862px;
  top: 3506px;

  font-family: "Verdana";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 123.5%;

  color: #000000;

  transition: 1s;
  transform: translateY(10px);
  opacity: 0;
}

#chat3[data-scroll="in"] {
  transform: translate(0);
  transition-delay: 0.2s;
  opacity: 1;
}

#chatp {
  position: absolute;
  width: 425px;
  height: 92px;
  left: 862px;
  top: 3570px;

  font-family: "Verdana";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;

  color: rgba(85, 85, 85, 0.5);

  transition: 1s;
  opacity: 0;
}

#chatp[data-scroll="in"] {
  transform: translate(0);
  transition-delay: 0.4s;
  opacity: 1;
}

#square-btn1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px;

  position: absolute;
  width: 153px;
  height: 37px;
  left: 862px;
  top: 3680px;

  background: #0075ff;
  border: none;
  color: white;

  transition: 1s;
  opacity: 0;
  transition: all 0.5s;
  transition: 1s;
  transform: translateY(10px);
  opacity: 0;
}

#square-btn1 span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  #square-btn1 span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  #square-btn1:hover span {
    padding-right: 25px;
  }
  
  #square-btn1:hover span:after {
    opacity: 1;
    right: 0;
  }
  

#square-btn1[data-scroll="in"] {
    transform: translate(0);
    transition-delay: 0.2s;
    opacity: 1;
  }


#square-btn1[data-scroll="in"] {
  transform: translate(0);
  transition-delay: 0.4s;
  opacity: 1;
}

#partners {
  position: absolute;
  width: 282px;
  height: 39px;
  left: 600px;
  top: 4100px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;

  color: #d3d3d3;
  transition: 1s;
  opacity: 0;
}

#partners[data-scroll="in"] {
  transform: translate(0);
  /* transition-delay: 0.1s; */
  opacity: 1;
}

#partnersimage {
  position: absolute;
  width: 1186.7px;
  height: 123px;
  left: 150px;
  top: 4200px;
  transition: 1s;
  opacity: 0;
}
#partnersimage[data-scroll="in"] {
  transform: translate(0);
  /* transition-delay: 0.1s; */
  opacity: 1;
}




